*.class
*.asm
*.zmips
*.txt
*.out

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


*.tar.gz
*.html

compiler/src/zilch/zilch-jtb.jj
compiler/src/zilch/ZilchParser.java
compiler/src/zilch/ZilchParserConstants.java
compiler/src/zilch/ZilchParserTokenManager.java
compiler/src/zilch/ParseException.java
compiler/src/zilch/Token.java
compiler/src/zilch/TokenMgrError.java
compiler/src/zilch/JavaCharStream.java
compiler/src/zilch/syntaxtree/*
compiler/src/zilch/visitor/*

optimizer/src/zilch/zmips-jtb.jj
optimizer/src/zilch/ZMIPSParser.java
optimizer/src/zilch/ZMIPSParserConstants.java
optimizer/src/zilch/ZMIPSParserTokenManager.java
optimizer/src/zilch/ParseException.java
optimizer/src/zilch/Token.java
optimizer/src/zilch/TokenMgrError.java
optimizer/src/zilch/JavaCharStream.java
optimizer/src/zilch/syntaxtree/*
optimizer/src/zilch/visitor/*

optimizer/src/zilch/facts_rules/Facts/*
