*.class
*.asm
*.zmips
*.opt
*.txt
*.out
*-jtb.jj

*.iml
target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.tar.gz
*.html


src/main/java/org/twc/minijavacompiler/minijavavisitor/*.java
src/main/java/org/twc/minijavacompiler/minijavasyntaxtree/*.java
src/main/java/org/twc/minijavacompiler/minijavaparser/*.java

src/main/java/org/twc/minijavacompiler/zmipsvisitor/*.java
src/main/java/org/twc/minijavacompiler/zmipssyntaxtree/*.java
src/main/java/org/twc/minijavacompiler/zmipsparser/*.java
src/main/java/org/twc/minijavacompiler/facts_rules/Facts/*
