*.class
*.asm

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


*.tar.gz
*.html

compiler/src/zilch/zilch-jtb.jj
compiler/src/zilch/ZilchParser.java
compiler/src/zilch/ZilchParserConstants.java
compiler/src/zilch/ZilchParserTokenManager.java
compiler/src/zilch/ParseException.java
compiler/src/zilch/Token.java
compiler/src/zilch/TokenMgrError.java
compiler/src/zilch/JavaCharStream.java

compiler/src/zilch/syntaxtree/*
compiler/src/zilch/visitor/*
